.jumbotron
  %h1 Prediction League
  %p 3 points for the correct score
  %p 1 points for the correct result
  %a{class: 'btn btn-primary btn-lg', href: 'http://facebook.com/kyle.henchie', role: 'button'}
    View table
.list-group
  = render @matches
