.jumbotron
  %h1 Prediction League
  %p 3 points for the correct score
  %p 1 point for the correct result
  %a{class: 'btn btn-primary btn-lg', href: table_path, role: 'button'}
    View table
.list-group
  = render @matches
