/ .jumbotron
/   %h1 Kyle is a virgin
/   %p Virgin of the year
/   %p
/     %a{class: 'btn btn-primary btn-lg', href: 'http://facebook.com/kyle.henchie', role: 'button'}
/       Learn more
.list-group
  = render @matches
