%table.table.table-striped
  %th
    Position
  %th
    User
  %th
    Points
  - @users.each do |user, index|
    %tr{class: user == current_user ? 'highlight' : ''}
      %td
        = index + 1
      %td
        = user.username
      %td
        = user.points